

body{
position:relative;
z-index:1;
}

#patrika-header {
display:inline-block;
background-color:#d98944;
margin-bottom:5px;

}

#option-header {
display:inline-block;
background-color:#ed7e7e;
margin-bottom:5px;

}



#tableFixHead  {
overflow: auto; height: 100px;
border: 1px solid green;
position:relative;
z-index:1
}

#optionstableFixHead  {
overflow: auto; height: 100px;
border: 1px solid green;
position:relative;
z-index:1
}



#tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

#optionstableFixHead thead th { position: sticky; top: 0; z-index: 1; }

th     { background:#eee; }

#optionth{
	background-color:#cfdae3
}

.btn-container{
  display: flex;
  flex-direction: row;
  margin-bottom:5px;
}


.hidden-container{
 border : 5px green solid;
 background-color:red;
 width:500px;
 height:600px;
 display:none;
 position:relative;
 z-index:2;
}




