<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
 
 <welcome-file-list>
 <welcome-file>
 	welcome.jsp
 </welcome-file>
 </welcome-file-list>
 

  
  
 <servlet>
  <servlet-name>def</servlet-name>
  <servlet-class>com.login.Logout</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>def</servlet-name>
   <url-pattern>/logout</url-pattern>
  </servlet-mapping>     
  
  
  <servlet>
  <servlet-name>ghi</servlet-name>
  <servlet-class>com.login.addtable</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>ghi</servlet-name>
   <url-pattern>/inserttable</url-pattern>
  </servlet-mapping>     
  
  
  
  
 
 
 
 
 
</web-app>